.audio-controls > button {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.audio-controls > button:hover {
  color: #bada55;
}

.audio-controls .play {
  font-size: 50px;
}

.audio-controls .pause {
  font-size: 50px;
}
