* {
  /* The box-sizing property allows us to include the padding and border in an element's total width and height.
If you set box-sizing: border-box; on an element, padding and border are included in the width and height */
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #345678;
}

.App {
  display: flex;
  /* background: #345678; */
  height: 100vh;
  /* width: 100%; */
}
